<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/addNight"><span class="glyphicon glyphicon-user"></span> Add night</a>
      </li>
    </ul>
  </div>
</nav>
 