<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>
    function getQueryVariable(variable)
    {
          var query = window.location.search.substring(1);
          var vars = query.split("&");
          for (var i=0;i<vars.length;i++) {
                  var pair = vars[i].split("=");
                  if(pair[0] == variable){return pair[1];}
          }
          return(false);
    }

    function writeChoice(item,gamer) {
      var ul = $("<li>").addClass("games");
      var img = $("<img>").attr("src", item.children[0].innerHTML).attr("alt", item.children[2].innerHTML);
      var title = $("<div>").addClass("game-title").text(item.children[2].innerHTML);
      var gameurl = $("<a>").attr("href", "https://boardgamegeek.com/boardgame/" + item.attributes.id.value).append(title);
      var gamername =  $("<div>").addClass("game-title").html("Chosen by <strong>" + gamer+ "</strong>");
      ul.append(img).append(gameurl).append(gamername);
      $("#choices").append(ul);
    }

    function writeGame(item,nightId) {
      var ul = $("<li>").addClass("games");
      var img = $("<img>").attr("src", item.children[3].innerHTML).attr("alt", item.children[0].innerHTML);
      var title = $("<div>").addClass("game-title").text(item.children[0].attributes.value.value);
      var gameurl = $("<a>").attr("href", "https://boardgamegeek.com/boardgame/" + item.attributes.objectid.value).append(title);
      var button = $("<input type=button>").val("Choose this game").attr("data-toggle","modal").attr("data-target","#gamer-name-modal").addClass("btn").attr("data-game-id",item.attributes.objectid.value).attr("data-night-id", nightId);
      ul.append(img).append(gameurl).append(button);
      $("#games").append(ul);
    }

    function insertGame(form) {
      $.post("/publishChoice", $(form).serialize())
      .done(function(data) {
        location.reload();
      })
      .fail(function(err) {
        $("#error").text(err.responseText);
      })
      //query insert db
      //return result
    }

    function getRetry(night, tries) {
      var username= night.hostusername;
      $.get("https://www.boardgamegeek.com/xmlapi2/collection?own=1&username=" +username)
        .fail(function() {
          if (tries < 10)
            return setTimeout(getRetry,7000,username, tries + 1);
          else
            $("#games").text("Could not retrieve collection.");
            return;
        })
        .done(function(data) {
          for (let index = 0; index < data.children[0].children.length; index++) {
            const item = data.children[0].children[index];
            writeGame(item,night.nightid); //game Name
          }
          $("#gamer-name-modal").on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget); // Button that triggered the modal
                    var id = button.data('game-id'); // Extract info from data-game-id attribute
                    var nightId = button.data('night-id'); // Extract info from data-night-id attribute
                    var modal = $(this);
                    modal.find('#gameid').val(id);
                    modal.find('#nightid').val(nightId);
                });     
        })
      }  

    //ONLOAD CODE
    $(document).ready(function() {
      var night = JSON.parse(decodeURIComponent(getQueryVariable("night")));
      getRetry(night,1);
      $.get("/getChoices", {nightid: night.nightid})
        .done(function(data) {
          //prepare query string
          if(data) {
            var qString = "https://www.boardgamegeek.com/xmlapi2/thing?id="
            for (var i = 0; i < data.result.length; i++) {
              qString+= data.result[i].gameid + ",";       //additional commas at the end of the querystring won't break the XML request
            }
            $.get(qString, function(xmlGames) {
              for (let index = 0; index < xmlGames.children[0].children.length; index++) {
                writeChoice(xmlGames.children[0].children[index], data.result[index].gamer)
              }
            })
          }
        });
    });
  </script>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<div id="error">

</div>
<h2>Games</h2>
<ul id = "games">
    
</ul> 

<h2>Choices</h2>
<ul id = "choices">

</ul>


<div class="modal fade" id="gamer-name-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">What is your name?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body">
      <form id="reg-form-map" class="needs-validation">
        <div class="form-group">
          <label for="map-textfield">Gamer name</label>
          <input type="text" class="Map-control" name="gamername" id="gamername" placeholder="Your name" requried>
          <input type="text" class="d-none" name="gameid" id="gameid" value="">
          <input type="text" class="d-none" name="nightid" id="nightid" value="">
        </div>
      </form>
        </div>
        <!--Footer-->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" onclick="insertGame('#reg-form-map');">Choose this game</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
