<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="../../public/javascript/xml2json.js"></script>
  <script>
    function getRetry(username, tries) {
      $.get("https://www.boardgamegeek.com/xmlapi2/collection=1&username=" +username)
        .fail(function() {
          if (tries < 10)
            return setTimeout(getRetry,7000,username, tries + 1);
          else
            $("#errorMessage").text("Could not retrieve collection.");
            return;
        })
        .done(function(data) {
          $("#errorMessage").text(data);
        })
    }
  </script>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Games</h2>
<ul>
    
</ul> 

</div>
<div id="errorMessage">
</div>
</body>
</html>
